*
{
 margin: 0;
 padding: 0;
}
body{
	font-family:'Raleway' sans-serif;
	font-size: 14px;
	font-family: 400;
	color: #777;
	line-height: 1.429;
	height: 2000px;	
}
h1
{
	font-size: 36px;
	color: #555;
	font-weight: bold;
}
h2
{
 
	font-size: 30px;
	color: #555;
	font-weight: bold;
}
h3
{
 
	font-size: 24px;
	color: #333;
	font-weight: bold;
}
.primary
{
	color: red;


}
.primary-bg
{
	background-color:#e74c3c;
	color: #f7f7f7;
	padding:5px 30px; 
	font-weight: bold;
	text-decoration: none;



}
.secondary-dark-blue
{
	color: #34495e;

}
.secondary-dark-blue-bg
{
	background-color: #512b58;

}
.secondary-sky-blue
{
	color: #2d82d8;
	
}
.secondary-sky-blue-bg
{
	color: #f7f7f7;
	background-color: #2d82d8;
	padding:5px 30px; 
	font-weight: bold;
	text-decoration: none;

	
		transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}


a:focus
{
	outline: 0;
}

a:hover
{
	text-decoration: none;
}

ol,ul
{
	margin-bottom: 0px;
}

ul{
	list-style: none;
}

ul li
{
	display: inline-block;
}
.section-padding
{
	padding: 56px 0;
}

.carousel-caption
{
	padding:230px;
}

.carousel-caption a
{
	margin-right: 5px;
	text-decoration: none;
}
.carousel-caption h1 p
{

margin-bottom: 2px;	
    
}
.carousel-caption span
{
	color: #c70039;

}

.cta1:hover
{
	background-color: #f79071;
	padding:5px 30px;
	border-radius: 10px;
}
.cta2:hover
{
	background-color: #00bcd4;
	padding:5px 30px;

	border-radius: 10px;
}
.section-padding
{
	padding: 92px 0;
}
.Services-content i
{
color: black;
}
